<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회 페이지</title>
    <link rel="stylesheet" th:href="@{/css/khymain.css}" />
</head>
<body>
<!--헤더 영역-->
<div th:insert="khyfragments/header :: headerFragment"></div>
<!--헤더 영역-->

<!--메인 영역-->
<main>
    <section class="hero">
        <div class="hero-content">
            <button type="button" class="btn btn-primary" onclick="location.href='/hwayeon/newpost'">게시글 등록
            </button>
        </div>
    </section>

    <section class="services">
        <!-- 게시글 리스트 시작 -->
        <div class="service-item">
            <div class="container" th:each="latestPost : ${latestPosts}">
                <h3>제목: <span th:text="${latestPost.blogTitle}">블로그 제목</span></h3>
                <p>내용: <span th:text="${latestPost.blogContent}">블로그 내용</span></p>
            </div>
        </div>
    </section>
</main>

<!--풋터영역-->
<div th:insert="khyfragments/footer :: footerFragment"></div>
</body>
</html>
