<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회 페이지</title>
    <link rel="stylesheet" th:href="@{/css/khymain.css}" />
</head>
<body>
<!--헤더 영역-->
<div th:insert="khyfragments/header :: headerFragment"></div>
<!--헤더 영역-->

<!--메인 영역-->
<main>
    <section class="hero">
        <div class="hero-content">
            <button type="button" class="btn btn-primary" onclick="location.href='/hwayeon/newpost'">게시글 등록
            </button>
        </div>
        <form class="search-form" th:action="@{/hwayeon/ListPage}" method="get">
            <input type="text" name="keyword" placeholder="블로그 글 조회">
            <button type="submit" class="btn btn-secondary">조회</button>
        </form>
    </section>

    <section class="services">
        <!-- 게시글 리스트 시작 -->
        <div class="service-item">
            <!--  조회 내용 출력부분  -->
            <div class="container" th:each="latestPost : ${latestPosts}">
                <h3>
                    <a th:href="@{'/hwayeon/DetailPage/' + ${latestPost.blogNo}}"> <!-- 상세 페이지 링크 -->
                        <span th:text="${latestPost.blogTitle}">블로그 제목</span>
                    </a>
                </h3>
                <!--                <p>내용: <span th:text="${latestPost.blogContent}">블로그 내용</span></p>-->

                <!-- 좋아요 버튼 -->
<!--                <button type="button" class="btn btn-success like-button" data-blogno="${latestPost.blogNo}">-->
<!--                    좋아요-->
<!--                </button>-->
<!--                <span class="like-count">💙 : <span th:text="${latestPost.likeCount}">0</span></span>-->

                <!-- 삭제 버튼 -->
                <form th:action="@{'/hwayeon/delete/' + ${latestPost.blogNo}}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </div>
        </div>
    </section>
</main>

<!--풋터영역-->
<div th:insert="khyfragments/footer :: footerFragment"></div>
<!--풋터영역-->

<!-- 좋아요버튼 JavaScript 코드 -->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('.like-button').click(function() {-->
<!--            var blogNo = $(this).data('blogno');-->
<!--            var url = '/hwayeon/like/' + blogNo;-->

<!--            $.ajax({-->
<!--                type: 'POST',-->
<!--                url: url,-->
<!--                success: function(response) {-->
<!--                    // 성공적으로 좋아요가 증가되면 좋아요 수를 업데이트-->
<!--                    var likeCountElement = $('[data-blogno="' + blogNo + '"]').siblings('.like-count').find('span');-->
<!--                    var currentCount = parseInt(likeCountElement.text());-->
<!--                    likeCountElement.text(currentCount + 1);-->
<!--                },-->
<!--                error: function() {-->
<!--                    alert('좋아요 처리 중 오류가 발생했습니다.');-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>
