<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화연 블로그</title>
    <link rel="stylesheet" th:href="@{/css/khymain.css}" />
</head>
<body>
<!--헤더 영역-->
<div th:insert="khyfragments/header :: headerFragment"></div>
<!--헤더 영역-->

<!-- 메인 영역 -->
<main>
    <section class="services">
        <!-- 폼 시작 -->
        <div class="container my-5">
            <!-- 폼 액션과 메서드 지정 -->
            <form th:action="@{/hwayeon/update}" method="post" th:if="${blog != null}">
                <input type="hidden" th:value="${blog.blogNo}" name="blogNo"/>
                <!-- 제목 입력 필드 -->
                <div class="mb-3">
                    <label for="blogTitle" class="form-label">제목 :</label>
                    <input type="text" class="form-control" id="blogTitle" name="blogTitle"
                           th:value="${blog.blogTitle}" placeholder="제목을 입력하세요">
                </div>
                <!-- 내용 입력 필드 -->
                <div class="mb-3">
                    <label for="blogContent" class="form-label">내용 :</label>
                    <textarea class="form-control" id="blogContent" name="blogContent" rows="5"
                              placeholder="내용을 입력하세요" th:text="${blog.blogContent}"></textarea>
                </div>
                <!-- 제출 버튼 -->
                <button type="submit" class="btn btn-primary">수정완료</button>
            </form>
            <div th:if="${blog == null}">
                <p>블로그 정보를 불러오는데 실패했습니다.</p>
            </div>
        </div>
        <!-- 폼 종료 -->
    </section>
</main>

<!--풋터영역-->
<div th:insert="khyfragments/footer :: footerFragment"></div>
</body>
</html>
