<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<!--헤더 영역-->
<header th:fragment="headerFragment">
    <div class="header-content">
        <div class="logo">
            <img src="logo.png" alt="로고 이미지">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/hwayeon/main">홈</a></li>
                <li><a href="/hwayeon/editpage">등록</a></li>
                <li><a href="/hwayeon/listpage">조회</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>