<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
    <link rel="stylesheet" href="/Jincss/delete.css"></head>
<body>

<div th:replace="Jinfragments/header :: headerFragment"></div>

<div class="container">
    <h2>삭제</h2>
    <p>이 글을 지우시겠습니까?</p>
    <a th:href="@{/jinhee/delete/{id}(id=${blogDTO.id}, confirm=true)}" class="btn btn-danger">확인</a>

</div>

<div th:replace="Jinfragments/footer :: footerFragment"></div>

</body>
</html>
